<!DOCTYPE html>
<html>
<head>
	<title>Hello Application in Python</title>
	<link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	 <link rel="stylesheet" href="stylesheet.css" type="text/css" media="screen">
</head>

<body>
	<h1 style="color:pink;font-size:70px; background-color:grey;">HI</h1>
	<h1 style="color:white;font-size:60px; background-color:red;">Nice to meet you!</h1>
	<p style="color:yellow;font-size:50px; background-color:blue;">That is my page!</p>
	<p style="color:orange;font-size:40px; background-color:green;">Have a look and leave your feedback</p>

</body>
</html>
