<!DOCTYPE html>
<html>
<head>
	<title>Hello Application in Python</title>
	<link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	 <link rel="stylesheet" href="stylesheet.css" type="text/css" media="screen">
</head>

<body>
	<ul>
			<li style="color:green;font-size:40px;"><a href="http://stackoverflow.com/" target="_blank">Find expertise in software development</a></p></li>
			<li style="color:grey;font-size:40px;"><a href="https://dev.twitter.com/rest/public" target="_blank">Learn how to use Twitter API</a></p></li>
			<li style="color:orange;font-size:40px;"><a href="http://fontawesome.io/" target="_blank">Find new CSS and fonts</a></p></li>
  </ul>
		<p><a style="color:orange;font-size:40px; background-color:green;" href="/aboutme">About me</a></p>
</body>
</html>
